@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationScheduling.Models.ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account">
        <ul class="nav navbar-nav">
            <li class="nav-link text-white">Hello, @User.Identity.Name</li>
            <li class="nav-link"><a href="javascript:document.getElementById('logoutForm').submit()">log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" id="registerLink" asp-controller="Account" asp-action="Login">Sign In</a> 
        </li><li class="nav-item"> 
            <a class="nav-link" id="registerLink" asp-controller="Account" asp-action="Register">Sign Up</a> 
        </li>
    </ul>
}